* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1 {
    text-align: center;
    margin: 2rem auto;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 80vw;
    height: 70vh;
    padding: 1rem;
    margin: 5vh 10vw;
    border: 3px double black;
}